*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia;
    overflow: hidden;
}

body
{
    background-color: #134e70;
    margin: 0;
    height: 100vh;
}

.login-form
{
    background: #134e70 ;
    padding: 40px;
    align-items: center;
    height: 100vh;
    display: flex;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-form h1
{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #0d0d0d;
    margin-bottom: 20px;
    margin-top: 0;
}

.login-form .main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   
}

.content{
    flex-basis: 50%;
    padding: 3em 3em;
    background: #fff;
    border-radius: 8px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2000px;
    height: 600px;
}

.content input
{
    padding: 10px 50px;
    border-color: beige;
    margin: 10px;
    width: 400px;
}

.content select
{
    padding: 10px 50px;
    border-color: beige;
    margin: 10px;
    width: 400px;
}

.content button{
    padding: 20px 30px;
    border-radius: 8px;
    background: #134e70;
    color: #fff;
    border-color: beige;
    width: 250px;
    margin: 10px;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;  
}