*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.user-img{
    width: 50px;
    border-radius: 1000%;
    border: 1px solid #eee;
}

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #134e70;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}

.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100% - 250px);

}

.sidebar.active{
    width: 250px;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar .top .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo{
    opacity: 1;
}

.top .logo i{
    font-size: 2rem;
    margin-right: 5px;
}

.user{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p{
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold{
    font-weight: 600;
}

.sidebar p{
    opacity: 0;
}

.sidebar.active p{
    opacity: 1;
}

.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover{
    background-color: #fff;
    color: #134e70;
} 

.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item{
    opacity: 0;
}

.sidebar.active .nav-item{
    opacity: 1;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip{
    opacity: 1;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.container.active {
    margin-left: 250px;
  }

.container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 50px;
}


.container header{
    padding: 40px;
    color: #134e70;
    font-style: oblique;
}

.main-content{
    text-align: center;
    justify-content: center;
}

.main-content label{
    font-size: larger;
}

.main-content input{
    width: 450px;
    height: 30px;
    padding: 10px;
}

.main-content select{
    width: 450px;
    height: 30px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}


.main-content button{
    background: #134e70;
    height: 60px;
    width: 130px;
    border-radius: 8px;
    border-color: beige;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 50px;
    align-items: center;
    font-size: larger;
}